html{
    background-color: #2192FF;
}
body{
    border-radius: 10px;
    margin-top: 0;
    margin-left: 22%;
    margin-right: 22%;
    margin-bottom: 1%;
    background-color: white;
}
header{
    padding-top: 4%;
    padding-bottom: 4%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 3%;
}

nav{
    float: right;
    padding-right: 3%;
    margin-top: 2%;
}
#blog_title{
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-left: 3%;
    padding-left: 3%;
    padding-top: 1%;
    margin-top: 1%;
}
.article_title{
    font-size: 85%;
    margin-left: 4%;
    margin-bottom: 0;
    padding-bottom: 0%;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
article>header>h1{
    margin-bottom: 0;
}
.author{
    font-family:sans-serif;
    margin-left: 4%;
    margin-top: 0;
    padding: 0;
    margin-bottom: 3%;
    text-decoration: none;
}
.article{
    display: block;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0%;
    margin-left: 2%;
}
#links{
    margin-top: 5.5%;
    background-color: #FECD70;
    margin-right: 6%;
    display: inline;
    float: right;
}
#link_title{
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    font-size: 20px;
    /* padding-right: 10%; */
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgba(255, 0, 0, 0.7);
}
.content{
    margin-left: 4%;
    margin-top: 0;
    margin-right: 20%;
    margin-bottom: 0;
    padding-right: 12%;
    padding-bottom: 4%;
    padding-right: 10%;
    font-family:sans-serif ;
}
.websites{
    text-align: center;
    padding-right: 10%;
    font-size: 5%;
}
.change{
    margin-left: 4%;
    margin-bottom: 0;
}
/* #second_article{
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 2%;
}
#second_article_title{
    padding-top: .5%;
    margin-top: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#second_author{
    text-decoration: none;
}
#second_content{
    margin-left: 2%;
    font-family:sans-serif ;
    border: 3px solid black;
    margin-top: 0;
} */
nav>a:link{
    color: #2192FF;
}
nav>a:visited{
    color:blueviolet;
}
aside>ul>li:hover{
    border: dotted 2px;
    padding-right: 2px;
    margin-right: 30%;
}
.header p{
    text-decoration: none;
}
footer p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 3%;
}